In [7]:
with open('/data/container/readme.txt') as f:
    contents = f.read()
    print(contents)

 == Markers + Stacks ==
Define the layout of the yard. All lengths and positions are defined in milimeters for a marker and a stack.
A stack is a specific block on the terminal, and a marker is a place within that stack you can position a container.

Based upon this information we can draw a mark for the yard.

 == Stack entry ==
This is a container placed in a specific stack. A stack entry is placed by a stackcorrection or handling.
A stack correction is a hard mutation done by someone in the backoffice. A handling is an actual activity done by a crane / stacker / carrier.
All stack entries with a put_mutation and without a pull mutation are currently in the yard.

 == handling ==
Alle movements of containers executed.

 == container location information ==
Shows a bit more information about where a container was or went to. A handling has a from and a to containerlocation information.

 == actions ==
Give information about the container which is transported.

In [8]:
import pandas as pd

acti = pd.read_csv('/data/container/actions.csv')
con_loc = pd.read_csv('/data/container/containerlocationinformation.csv')
hand = pd.read_csv('/data/container/handling.csv')
mach = pd.read_csv('/data/container/machine.csv')
mark = pd.read_csv('/data/container/marker.csv')
stack_try = pd.read_csv('/data/container/stackentry.csv')
stacks = pd.read_csv('/data/container/stacks.csv')

/tmp/ipykernel_31265/3544528592.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  hand = pd.read_csv('/data/container/handling.csv')

In [10]:
acti

,stopid,status,isemptycontainer,bookingidentifier,bookinginfo_containertype,bookinginfo_carrier,bookinginfo_customer,gatein,gateout,previousactiontype,previoussta,nextactiontype,nextstd
0,3391542,NEXT,True,24550-1,20DV,Containership CMA GmbH,Containership,NaN,NaN,NaN,NaN,ExternalAction,NaN
1,3187432,NEXT,True,23141-1,40HC,MEDITE UK LTD,MEDITE UK LTD,NaN,NaN,NaN,NaN,ExternalAction,NaN
2,5094163,FINISHED,False,26181-1,45HW,Containership CMA,Containership,2021-09-22 13:33:59.886418,2021-09-27 12:56:40.578678,ExternalAction,NaN,BargeTransportAction,2021-09-26 17:00:00.000000
3,3196883,NEXT,True,23244-1,40HW,Containership CMA GmbH,Containership,NaN,NaN,NaN,NaN,ExternalAction,NaN
4,3187544,NEXT,True,23144-1,20DV,MEDITE UK LTD,MEDITE UK LTD,NaN,NaN,NaN,NaN,ExternalAction,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13695,17700977,IN_PROGRESS,True,31333-1,20DV,OOCL,OOCL,2021-10-15 16:49:27.737697,NaN,BargeTransportAction,2021-10-15 11:00:00.000000,NaN,NaN
13696,14337159,IN_PROGRESS,True,30071-195,40HC,MEDITE UK LTD,MEDITE UK LTD,2021-10-11 20:57:18.689396,NaN,BargeTransportAction,2021-10-10 20:00:00.000000,NaN,NaN
13697,17700905,NOT_STARTED,True,31105-11,45HW,B.G. Freight Line B.V.,BGF,NaN,NaN,BargeTransportAction,NaN,NaN,NaN
13698,3165415,IN_PROGRESS,True,23051-25,40HC,Containership CMA GmbH,Containership,2021-08-10 11:00:39.813000,NaN,ExternalAction,NaN,NaN,NaN
13699,3158397,IN_PROGRESS,True,23031-1,40PW,CLYDEPORT OPERATIONS LTD,Clydeport,2006-06-06 08:44:00.000000,NaN,ExternalAction,NaN,NaN,NaN

In [11]:
con_loc

,dtype,id,cachedstring,stackentitytrainconnection,truckvisit_id,bay,tier,row,relativeyardmarkerposition,marker_id,stackentity_id,stackentry_id,yardregion_id,markerheight,stackentitytrainconnection_id,loadedwagonposition_id,loadingtask_id,location_id,shunt_id,truckpoint_id
0,TruckContainerLocationInformation,3079301,xx-382-f-Rab transport account,NaN,3079299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TruckContainerLocationInformation,3079335,xx-382-f-Rab transport account,NaN,3079299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TruckContainerLocationInformation,3157137,test1-Rab transport account,NaN,3157136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TruckContainerLocationInformation,3157167,test1-Rab transport account,NaN,3157136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TruckContainerLocationInformation,3157168,test1-Rab transport account,NaN,3157136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72002,YardTerminalContainerLocationInformation,18489540,221-9 3,NaN,NaN,NaN,NaN,NaN,C,2351781.0,2351777.0,18489541.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
72003,TruckContainerLocationInformation,18489638,Grid 6 DA16PYP-Freightliner,NaN,18473452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,853350.0
72004,SimpleTerminalContainerLocationInformation,18489772,Grid 7 SF16SXD-W H MALCOLM LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72005,YardTerminalContainerLocationInformation,18490080,221-11 3,NaN,NaN,NaN,NaN,NaN,C,2351779.0,2351777.0,18490081.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
72006,SimpleTerminalContainerLocationInformation,18490082,221-11 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
hand

,stopoveraction_id,endlocation,id,ended,planneddate,remark,startlocation,referenceaction_id,location_id,pos,...,connectedreason,connectedassigntosameexecutor,loadedwagonposition_id,hasalternatives,jobsposition,fromcontainerlocation_id,tocontainerlocation_id,shunt_id,missingagreement,reverts_id
0,3079280,NaN,3079277,NaN,NaN,NaN,NaN,3079278,738495,0.0,...,NaN,False,NaN,False,0,NaN,NaN,NaN,True,NaN
1,3187544,NaN,3187541,NaN,NaN,NaN,NaN,3187542,738495,0.0,...,NaN,False,NaN,False,163165176759087541,NaN,3187583.0,NaN,True,NaN
2,4021400,NaN,4021397,NaN,NaN,NaN,NaN,4021398,738495,0.0,...,NaN,False,NaN,False,0,NaN,NaN,NaN,True,NaN
3,3189746,NaN,3189743,NaN,NaN,NaN,NaN,3189744,738495,0.0,...,NaN,False,NaN,False,0,NaN,3189777.0,NaN,True,NaN
4,4021400,NaN,4021404,NaN,NaN,NaN,NaN,4021402,738495,1.0,...,NaN,False,NaN,False,0,NaN,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42488,17674856,NaN,17757267,2021-10-15 16:05:39.071536,NaN,NaN,NaN,17674856,738495,1.0,...,NaN,False,NaN,False,163431388235500000,17757271.0,17757712.0,NaN,False,NaN
42489,17676955,NaN,17758163,2021-10-15 16:07:14.592198,NaN,NaN,NaN,17676955,738495,1.0,...,NaN,False,NaN,False,163431398834100000,17758165.0,17758599.0,NaN,False,NaN
42490,17674242,NaN,17759383,2021-10-15 16:10:09.952992,NaN,NaN,NaN,17674242,738495,1.0,...,NaN,False,NaN,False,163431412133100000,17759392.0,17760125.0,NaN,False,NaN
42491,17673798,NaN,17760365,2021-10-15 16:11:32.566027,NaN,NaN,NaN,17673798,738495,1.0,...,NaN,False,NaN,False,163431423769200000,17760375.0,17760862.0,NaN,False,NaN
42492,17755292,NaN,17755289,2021-10-17 08:04:35.015731,NaN,NaN,NaN,17755290,738495,0.0,...,NaN,False,NaN,False,163445663129581238,18282584.0,18281237.0,NaN,True,NaN

In [18]:
mach[mach['type'] == 'REACHSTACKER']

,id,name,type,deletedon,lastseenlatitude,lastseenlongitude,showtabssearch,showtabstruck,showtabsbarge,showtabstrain,...,showmenusettings,yard_id,maxjobsvisible,maxjobsactive,showmenutasks,enableallowvesselmoves,enableallowtrainmoves,enableallowtruckmoves,limitpositionsbyrestrictedyardregions,defaultmarker_id
7,2100439,Stacker ECH 4,REACHSTACKER,NaN,55.953066,-4.760645,True,False,False,False,...,True,1,10,10,False,True,False,False,False,NaN
22,2309453,Stacker ECH 3,REACHSTACKER,NaN,55.954437,-4.763956,True,False,False,False,...,True,1,10,10,False,False,False,False,False,NaN

In [14]:
mark

,id,stack_id,name,rowrange,depth,stackdesignation_id,stackdesignationpriority,maxheight,deletedon
0,5272677,5269539,QL1-16,"[0,6096)",0,NaN,0,NaN,NaN
1,5272678,5269539,QL1-15,"[6096,12192)",0,NaN,0,NaN,NaN
2,5272679,5269539,QL1-14,"[12192,18288)",0,NaN,0,NaN,NaN
3,5272680,5269539,QL1-13,"[18288,24384)",0,NaN,0,NaN,NaN
4,5272681,5269539,QL1-12,"[24384,30480)",0,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1193,2351560,2351553,204-6,"[36600,42700)",0,17487479.0,0,NaN,NaN
1194,2351562,2351553,204-4,"[48800,54900)",0,17487479.0,0,NaN,NaN
1195,2351564,2351553,204-2,"[61000,67100)",0,17487479.0,0,NaN,NaN
1196,2352126,2352125,A,"[0,5000)",0,NaN,0,NaN,NaN
1197,2351618,2351606,208-1,"[67100,73200)",0,18366503.0,0,NaN,NaN

In [15]:
stack_try

,id,stack_id,rowrange,depth,heightrange,terminalstopoveraction_id,put_handling_id,put_correction_id,pull_handling_id,pull_correction_id,yardmovehandling_id,container_number,container_relative_marker_position,container_height,marker_id,reachstacker_moves,crane_moves,locationinformation_id,straddlecarrier_moves
0,3920629,2352069,"[10,12202)",0,"[0,2896)",3122918,3920475.0,NaN,5347663.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,3920628.0,0.0
1,4159223,2351021,"[12202,24394)",0,"[0,2896)",3119380,4159212.0,NaN,3119385.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,4159222.0,0.0
2,8281557,2352127,"[0,1)",0,"[0,1)",8223917,NaN,8281555.0,8238361.0,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN
3,4146707,2351245,"[61002,73194)",0,"[0,2621)",3106620,4146688.0,NaN,6423134.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,4146706.0,0.0
4,5620843,2387709,"[0,1)",0,"[0,1)",5563630,5614146.0,NaN,5563627.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,5620842.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18164,17758600,2352131,"[0,1)",0,"[0,1)",17676955,17758163.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,0.0,0.0,17758599.0,0.0
18165,17759384,2352135,"[0,1)",0,"[0,1)",17674242,17674238.0,NaN,17759383.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,17759392.0,0.0
18166,17760366,2352135,"[0,1)",0,"[0,1)",17673798,17673794.0,NaN,17760365.0,NaN,NaN,NaN,1,0,NaN,0.0,0.0,17760375.0,0.0
18167,17760863,2352131,"[0,1)",0,"[0,1)",17673798,17760365.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,0.0,0.0,17760862.0,0.0
18168,17762309,2352131,"[0,1)",0,"[0,1)",17675288,17761703.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,0.0,0.0,17762308.0,0.0

In [16]:
stacks

,id,name,deletedon,maxheight,maxdepth,maxlength,positionx,positiony,rotation,yard_id,...,rowdepth,infinitespace,yardregion_id,snapwithinmarker,defaultrelativemarkerposition,reversestacksuggestiondirection,opentop,openbottom,openright,openleft
0,10726317,CPS YARD,NaN,8750,3,30500,161540,207200,0,1,...,2438,True,NaN,False,NaN,False,True,True,True,True
1,2350937,716,NaN,8750,1,42700,0,57960,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
2,2350945,717,NaN,8750,1,42700,0,62100,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
3,2350953,718,NaN,8750,1,42700,0,66240,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
4,2350961,719,NaN,8750,1,42700,0,70380,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2352008,RP6,NaN,8750,1,13750,103900,239020,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
146,2352020,RP10,NaN,8750,1,13750,103900,255580,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
147,2352005,RP5,NaN,8750,1,13750,103900,234880,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
148,2351987,RPB,NaN,8750,1,13750,103900,210040,0,1,...,2440,False,NaN,True,C,False,True,True,True,False
149,2352114,988,NaN,8750,1,61000,161400,284880,0,1,...,2440,False,NaN,True,C,True,True,True,True,True